<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>N.I.U-首页</title>

    <!-- Bootstrap core CSS -->
    <% include ../header.html %>
    <script src="/javascripts/Chart.min.js"></script>
</head>

<body>
<div class="container">
    <!--导航栏-->
    <%include ../nav.html%>
    <!--导航栏 end-->


    <div>
        <h1>设备管理</h1>
        <p>公司信息设备汇总</p>
        <div class="text-right">
            <a type="button" class="btn btn-default" style="margin-top: -100px" href="/device/edit_device" target="_blank">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加设备
            </a>
        </div>


    </div>

    <div class="row">

        <div class="col-sm-12">

            <div>
                <!--BUG列表-->
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>设备</th>
                        <th>品牌</th>
                        <th>编号</th>
                        <th>分店</th>
                        <th>部门</th>
                        <th>操作</th>
                    </tr>
                    <tbody>
                    <% if(device_list.length>0){
                    for(var i=0;device_list.length>i;i++){%>
                    <tr>
                        <th scope="row"><%=i+1%></th>
                        <th><%=device_dic[device_list[i].device_type]%></th>
                        <th><%=device_dic[device_list[i].brand]%></th>
                        <th><%=device_list[i].sn%></th>
                        <th><%=company_info[device_list[i].local]%></th>
                        <th><%=company_info[device_list[i].dep]%></th>
                        <th><a class="btn btn-default" href="/device/edit_device?device_id=<%=device_list[i].id%>" role="button" target="_blank">设备管理</a></th>

                    </tr>
                    <%}
                    }else{%>
                    <tr>
                        <th>暂时没有BUG报告，很好的系统！值得骄傲的程序猿！</th>
                    </tr>
                    <%}%>
                    </tbody>
                    </thead>
                </table>
                <!--BUG列表 end-->

                <hr>


            </div><!-- /.blog-post -->





        </div><!-- /.blog-main -->



    </div><!-- /.row -->

</div><!-- /.container -->




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
</html>
