<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>N.I.U-首页</title>

    <!-- Bootstrap core CSS -->
    <% include header.html %>
    <script src="/javascripts/Chart.min.js"></script>
  </head>


    <div class="container">
      <!--导航栏-->
      <%include nav.html%>
      <!--导航栏 end-->




      <div class="row">

        <div class="col-sm-8">

          <!--Chat JS区域 BUG提交-->

          <div class="row">
              <%if(bug_num>0){%>
            <div class="col-sm-4">
          <canvas id="myChart" width="210" height="210"></canvas>
            </div>
            <div class="col-sm-2">
              <ul class="list-unstyled" style="margin-top: 20px">
                <li>
                  <ul class="list-inline">
                    <li><h5>bug提交： <%=bug_num%></h5></li>
                  </ul>
                </li>

                <li>
                <ul class="list-inline">
                  <li style="height: 12px;width: 12px;background-color: #28a4c9"></li>
                  <li>待处理： <%=bug_dcl_num%></li>
                </ul>
                </li>

                <li>
                  <ul class="list-inline">
                    <li style="height: 12px;width: 12px;background-color:#e38d13"></li>
                    <li>已分派： <%=bug_yfp_num%></li>
                  </ul>
                </li>

                <li>
                  <ul class="list-inline">
                    <li style="height: 12px;width: 12px;background-color: #245580"></li>
                    <li>处理中： <%=bug_clz_num%></li>
                  </ul>
                </li>

                <li>
                  <ul class="list-inline">
                    <li style="height: 12px;width: 12px;background-color: #c12e2a"></li>
                    <li>待确认： <%=bug_dqr_num%></li>
                  </ul>
                </li>

                <li>
                  <ul class="list-inline">
                    <li style="height: 12px;width: 12px;background-color: #3e8f3e"></li>
                    <li>已完结： <%=bug_wj_num%></li>
                  </ul>
                </li>

                <li>
                  <ul class="list-inline">
                    <li style="height: 12px;width: 12px;background-color: #ccc"></li>
                    <li>被驳回： <%=bug_bh_num%></li>
                  </ul>
                </li>
              </ul>
            </div>
            <%}%>
            <!--维修汇总图表-->
            <%if(repair_num>0){%>
            <div class="col-sm-4">
              <canvas id="repairChart" width="210" height="210"></canvas>
            </div>
            <div class="col-sm-2">
              <ul class="list-unstyled" style="margin-top: 20px">
                <li>
                  <ul class="list-inline">
                    <li><h5>维护申请： <%=repair_num%></h5></li>
                  </ul>
                </li>

                <li>
                  <ul class="list-inline">
                    <li style="height: 12px;width: 12px;background-color: #28a4c9"></li>
                    <li>待处理： <%=repair_dcl_num%></li>
                  </ul>
                </li>

                <li>
                  <ul class="list-inline">
                    <li style="height: 12px;width: 12px;background-color:#e38d13"></li>
                    <li>已分派： <%=repair_yfp_num%></li>
                  </ul>
                </li>

                <li>
                  <ul class="list-inline">
                    <li style="height: 12px;width: 12px;background-color: #245580"></li>
                    <li>处理中： <%=repair_clz_num%></li>
                  </ul>
                </li>

                <li>
                  <ul class="list-inline">
                    <li style="height: 12px;width: 12px;background-color: #c12e2a"></li>
                    <li>待确认： <%=repair_dqr_num%></li>
                  </ul>
                </li>

                <li>
                  <ul class="list-inline">
                    <li style="height: 12px;width: 12px;background-color: #3e8f3e"></li>
                    <li>已完结： <%=repair_wj_num%></li>
                  </ul>
                </li>

                <li>
                  <ul class="list-inline">
                    <li style="height: 12px;width: 12px;background-color: #ccc"></li>
                    <li>被驳回： <%=repair_bh_num%></li>
                  </ul>
                </li>
              </ul>
            </div>

            <!--维修汇总图表 end-->
          </div>
          <%}%>
          <!--Chat JS区域 end-->


          <ul class="nav nav-tabs nav-justified">
            <li role="presentation" id="checklist1" class="active" onclick="checklist(1)"><a href="#">设备维护</a></li>
            <li role="presentation" id="checklist2" onclick="checklist(2)"><a href="#">数据维护</a></li>
            <li role="presentation" id="checklist3" onclick="checklist(3)"><a href="#">系统BUG</a></li>
          </ul>

          <% if(bug.length>0){%>

          <div id="bug_list" style="display: none">
            <!--BUG列表-->
            <table class="table table-hover">
              <thead>
              <tr>
                <th>#</th>
                <th>系统名称</th>
                <th>部门</th>
                <th>模块</th>
                <th>相关BUG报告</th>
                <th>提交时间</th>
                <th>处理状态</th>
              </tr>
              <tbody>

            <%for(var i=0;bug.length>i;i++){%>
            <tr>
              <th scope="row"><%=i+1%></th>
              <th><%=bug[i].sys_name%></th>
              <th><%=bug[i].sys_dep%></th>
              <th><%=bug[i].sys_model%></th>
              <!-- <th><%=bug[i].bug_id%></th>-->
              <th><%=bug[i].bug_title%></th>
              <th><%=bug[i].submit_time%></th>
              <th>
                <%switch(bug[i].statue){
                case 0:%>
                <a href="/bug/bug_detail?<%=bug[i].bug_id%>" class="btn btn-info">未处理</a>
                <%break;
                case 2:%>
                <a href="/bug/bug_detail?<%=bug[i].bug_id%>" class="btn btn-warning">已分派</a>
                <%break;
                case 3:%>
                <a href="/bug/bug_detail?<%=bug[i].bug_id%>" class="btn btn-primary">处理中</a>
                <%break;
                case 4:%>
                <a href="/bug/bug_detail?<%=bug[i].bug_id%>" class="btn btn-success">已完结</a>
                <%break;
                case 5:%>
                <a href="/bug/bug_detail?<%=bug[i].bug_id%>" class="btn btn-danger">待确认</a>
                <%break;
                case 8:%>
                <a href="/bug/bug_detail?<%=bug[i].bug_id%>" class="btn btn-default">驳  &nbsp;&nbsp;&nbsp;回</a>
                <%break;
                }%>

              </th>

            </tr>
            <%}%>
            </tbody>
              </thead>
            </table>
            <!--BUG列表 end-->
          </div>
          <%}%>


          <!--repair-->
          <% if(repair.length>0){%>
          <div id="repair_list" style="display:">
            <!--维修列表-->

            <table class="table table-hover">
              <thead>
              <tr>
                <th>#</th>
                <th>申请项目</th>
                <th>提交时间</th>
                <th>处理状态</th>
              </tr>
              <tbody>

              <%for(var i=0;repair.length>i;i++){%>
              <tr>
                <th scope="row"><%=i+1%></th>
                <th><%=repair[i].title%></th>
                <th><%=repair[i].submit_time%></th>
                <th>
                  <%switch(repair[i].processing_statue){
                  case 0:%>
                  <a href="/device/repair_detail?<%=repair[i].id%>" class="btn btn-info">未处理</a>
                  <%break;
                  case 2:%>
                  <a href="/device/repair_detail?<%=repair[i].id%>" class="btn btn-warning">已分派</a>
                  <%break;
                  case 3:%>
                  <a href="/device/repair_detail?<%=repair[i].id%>" class="btn btn-primary">处理中</a>
                  <%break;
                  case 4:%>
                  <a href="/device/repair_detail?<%=repair[i].id%>" class="btn btn-success">已完结</a>
                  <%break;
                  case 5:%>
                  <a href="/device/repair_detail?<%=repair[i].id%>" class="btn btn-danger">待确认</a>
                  <%break;
                  case 8:%>
                  <a href="/device/repair_detail?<%=repair[i].id%>" class="btn btn-default">驳  &nbsp;&nbsp;&nbsp;回</a>
                  <%break;
                  }%>

                </th>

              </tr>
              <%}%>
              </tbody>
              </thead>
            </table>
              </div>
            <%}%>
            <!--BUG列表 end-->


          <!--data repair-->
          <% if(data_repair.length>0){%>

          <div id="data_repair_list" style="display: none">
            <!--维修列表-->

            <table class="table table-hover">
              <thead>
              <tr>
                <th>#</th>
                <th>申请项目</th>
                <th>提交时间</th>
                <th>处理状态</th>
              </tr>
              <tbody>

              <%for(var i=0;data_repair.length>i;i++){%>
              <tr>
                <th scope="row"><%=i+1%></th>
                <th><%=data_repair[i].title%></th>
                <th><%=data_repair[i].submit_time%></th>
                <th>
                  <%switch(data_repair[i].processing_statue){
                  case 0:%>
                  <a href="/data_repair/repair_detail?<%=data_repair[i].id%>" class="btn btn-info">未处理</a>
                  <%break;
                  case 2:%>
                  <a href="/data_repair/repair_detail?<%=data_repair[i].id%>" class="btn btn-warning">已分派</a>
                  <%break;
                  case 3:%>
                  <a href="/data_repair/repair_detail?<%=data_repair[i].id%>" class="btn btn-primary">处理中</a>
                  <%break;
                  case 4:%>
                  <a href="/data_repair/repair_detail?<%=data_repair[i].id%>" class="btn btn-success">已完结</a>
                  <%break;
                  case 5:%>
                  <a href="/data_repair/repair_detail?<%=data_repair[i].id%>" class="btn btn-danger">待确认</a>
                  <%break;
                  case 8:%>
                  <a href="/data_repair/repair_detail?<%=data_repair[i].id%>" class="btn btn-default">驳  &nbsp;&nbsp;&nbsp;回</a>
                  <%break;
                  }%>

                </th>

              </tr>
              <%}%>
              </tbody>
              </thead>
            </table>
          </div>
          <%}%>
          <!--data repair end-->



          <%if(repair.length==0 && bug==0){%>
          <div class="jumbotron">
            <h1>欢迎使用 N.I.U 系统</h1>
            <p>全新的信息部管理工具系统，全面优化工作流程。为各位同仁高效优质的解决各种信息系统及电子设备维护问题。</p>
            <p>
            <div style="text-align: center">
              <img src="../images/no_info.jpg">
            </div>

            </p>
          </div>
          <%}%>
          </div>

          <!--repair end-->


          <!-- /.blog-post -->





        <!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1">
          <div class="sidebar-module sidebar-module-inset">
            <h4>设备信息：</h4>
            <p><img id="device_img" name="device_img"></p>
          </div>
          <div class="sidebar-module">

            <input type="hidden" id="device_no" name="devcie_no" value="">
            <ol class="list-unstyled" id="device_list" name="device_list">

            </ol>
          </div>
          <div class="sidebar-module">
            <a href="/device/submit_repair" type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-wrench" aria-hidden="true">申请维修</span>
            </a>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div>


  <!-- /.container -->

  <script>
    <!--BUG数量统计-->
    var bug_dcl_num=<%=bug_dcl_num%>;//待处理数量‘0’
    var bug_bh_num=<%=bug_bh_num%>;//驳回数量‘8’
    var bug_clz_num=<%=bug_clz_num%>;//处理中数量‘3’
    var bug_dqr_num=<%=bug_dqr_num%>;//待确认数量‘5’
    var bug_yfp_num=<%=bug_yfp_num%>;//已分配‘2’
    var bug_wj_num=<%=bug_wj_num%>;//完结‘4’
    var bug_data = [
            //
      {
        value: bug_dcl_num,
        color:"#28a4c9"
      },
      {
        value : bug_bh_num,
        color : "#ccc"
      },
      {
        value : bug_clz_num,
        color : "#245580"
      },
      {
        value : bug_dqr_num,
        color : "#c12e2a"
      },
      {
        value : bug_yfp_num,
        color : "#e38d13"
      },{
        value : bug_wj_num,
        color : "#3e8f3e"
      }

    ]

    <!--维护-->
    var repair_dcl_num=<%=repair_dcl_num%>;//待处理数量‘0’
    var repair_bh_num=<%=repair_bh_num%>;//驳回数量‘8’
    var repair_clz_num=<%=repair_clz_num%>;//处理中数量‘3’
    var repair_dqr_num=<%=repair_dqr_num%>;//待确认数量‘5’
    var repair_yfp_num=<%=repair_yfp_num%>;//已分配‘2’
    var repair_wj_num=<%=repair_wj_num%>;//完结‘4’
    var repair_data = [
      //
      {
        value: repair_dcl_num,
        color:"#28a4c9"
      },
      {
        value : repair_bh_num,
        color : "#ccc"
      },
      {
        value : repair_clz_num,
        color : "#245580"
      },
      {
        value : repair_dqr_num,
        color : "#c12e2a"
      },
      {
        value : repair_yfp_num,
        color : "#e38d13"
      },{
        value : repair_wj_num,
        color : "#3e8f3e"
      }

    ]
    <!--维护 end-->


    var defaults = {
      //Boolean - Whether we should show a stroke on each segment
      segmentShowStroke : true,

      //String - The colour of each segment stroke
      segmentStrokeColor : "#fff",

      //Number - The width of each segment stroke
      segmentStrokeWidth : 2,

      //Boolean - Whether we should animate the chart
      animation : true,

      //Number - Amount of animation steps
      animationSteps : 100,

      //String - Animation easing effect
      animationEasing : "easeOutBounce",

      //Boolean - Whether we animate the rotation of the Pie
      animateRotate : true,

      //Boolean - Whether we animate scaling the Pie from the centre
      animateScale : false,

      //Function - Will fire on animation completion.
      onAnimationComplete : null
    }
    if(<%=bug_num%>>0) {
      var ctx = document.getElementById("myChart").getContext("2d");
      var myNewChart = new Chart(ctx).Pie(bug_data, defaults);
    }
    <!--BUG数量统计 end-->

    <!--维护数量统计-->
    if(<%=repair_num%>>0){
    var repair_chart=document.getElementById("repairChart").getContext("2d");
    var myRepairChart=new Chart(repair_chart).Pie(repair_data,defaults);
    }
    <!--维护数量统计 end-->

    $(function(){
      $.ajax({
        type:'get',
              url:'/device/get_person_device_info',
      success:function(data){
        if(data[0]==0){
          $('#device_list').append("<li>没有绑定设备</li>");
        }else{
          for(var i=1;i<data.length-2;i++){
            $('#device_list').append("<li>"+data[i]+"</li>");
          }
          $('#device_no').val(data[10]);
          switch(data[11]){
            case '1':
              $('#device_img').attr('src','../images/PC.jpg');
                  break;
            case '2':
              $('#device_img').attr('src','../images/laptop.jpg');
                  break;
            case '3':
              $('#device_img').attr('src','../images/print.jpg');
                  break;
          }

        }
      }
      });
    });

    function checklist(id){
      //alert(id);
      switch (id){
        case 1:
              $('#checklist1').toggleClass('active',true);
              document.getElementById("repair_list").style.display="";
              $('#checklist2').toggleClass('active',false);
              document.getElementById("data_repair_list").style.display="none";
              $('#checklist3').toggleClass('active',false);
              document.getElementById("bug_list").style.display="none";
              break;
        case 2:
          $('#checklist1').toggleClass('active',false);
          document.getElementById("repair_list").style.display="none";
          $('#checklist2').toggleClass('active',true);
          document.getElementById("data_repair_list").style.display="";
          $('#checklist3').toggleClass('active',false);
          document.getElementById("bug_list").style.display="none";
          break;
        case 3:
          $('#checklist1').toggleClass('active',false);
          document.getElementById("repair_list").style.display="none";
          $('#checklist2').toggleClass('active',false);
          document.getElementById("data_repair_list").style.display="none";
          $('#checklist3').toggleClass('active',true);
          document.getElementById("bug_list").style.display="";
          break;
      }
    }

  </script>

  </body>
</html>
