<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>N.I.U-首页</title>

    <!-- Bootstrap core CSS -->
    <% include header.html %>
    <script src="/javascripts/Chart.min.js"></script>
  </head>

  <body>
    <div class="container">
      <!--导航栏-->
      <%include nav.html%>
      <!--导航栏 end-->


      <div>
        <h1>The Bootstrap Blog</h1>
        <p>The official example template of creating a blog with Bootstrap.</p>
      </div>

      <div class="row">

        <div class="col-sm-8">

          <!--Chat JS区域 BUG提交-->
          <div class="row">
            <div class="col-sm-7">
          <canvas id="myChart" width="300" height="300"></canvas>
            </div>
            <div class="col-sm-5">
              <ul class="list-unstyled" style="margin-top: 50px">
                <li>
                  <ul class="list-inline">
                    <li><h4>共提交： <%=bug_num%></h4></li>
                  </ul>
                </li>

                <li>
                <ul class="list-inline">
                  <li style="height: 12px;width: 12px;background-color: #28a4c9"></li>
                  <li>待处理： <%=bug_dcl_num%></li>
                </ul>
                </li>

                <li>
                  <ul class="list-inline">
                    <li style="height: 12px;width: 12px;background-color:#e38d13"></li>
                    <li>已分派： <%=bug_yfp_num%></li>
                  </ul>
                </li>

                <li>
                  <ul class="list-inline">
                    <li style="height: 12px;width: 12px;background-color: #245580"></li>
                    <li>处理中： <%=bug_clz_num%></li>
                  </ul>
                </li>

                <li>
                  <ul class="list-inline">
                    <li style="height: 12px;width: 12px;background-color: #c12e2a"></li>
                    <li>待确认： <%=bug_dqr_num%></li>
                  </ul>
                </li>

                <li>
                  <ul class="list-inline">
                    <li style="height: 12px;width: 12px;background-color: #3e8f3e"></li>
                    <li>已完结： <%=bug_wj_num%></li>
                  </ul>
                </li>

                <li>
                  <ul class="list-inline">
                    <li style="height: 12px;width: 12px;background-color: #ccc"></li>
                    <li>被驳回： <%=bug_bh_num%></li>
                  </ul>
                </li>
              </ul>


            </div>
          </div>
          <!--Chat JS区域 BUG提交end-->

          <div>
            <!--BUG列表-->
            <table class="table table-hover">
              <thead>
              <tr>
                <th>#</th>
                <th>系统名称</th>
                <th>部门</th>
                <th>模块</th>
                <th>相关BUG报告</th>
                <th>提交时间</th>
                <th>处理状态</th>
              </tr>
              <tbody>
            <% if(bug.length>0){
            for(var i=0;bug.length>i;i++){%>
            <tr>
              <th scope="row"><%=i+1%></th>
              <th><%=bug[i].sys_name%></th>
              <th><%=bug[i].sys_dep%></th>
              <th><%=bug[i].sys_model%></th>
              <!-- <th><%=bug[i].bug_id%></th>-->
              <th><%=bug[i].bug_title%></th>
              <th><%=bug[i].submit_time%></th>
              <th>
                <%switch(bug[i].statue){
                case 0:%>
                <a href="/bug/bug_detail?<%=bug[i].bug_id%>" class="btn btn-info">未处理</a>
                <%break;
                case 2:%>
                <a href="/bug/bug_detail?<%=bug[i].bug_id%>" class="btn btn-warning">已分派</a>
                <%break;
                case 3:%>
                <a href="/bug/bug_detail?<%=bug[i].bug_id%>" class="btn btn-primary">处理中</a>
                <%break;
                case 4:%>
                <a href="/bug/bug_detail?<%=bug[i].bug_id%>" class="btn btn-success">已完结</a>
                <%break;
                case 5:%>
                <a href="/bug/bug_detail?<%=bug[i].bug_id%>" class="btn btn-danger">待确认</a>
                <%break;
                case 8:%>
                <a href="/bug/bug_detail?<%=bug[i].bug_id%>" class="btn btn-default">驳  &nbsp;&nbsp;&nbsp;回</a>
                <%break;
                }%>

              </th>

            </tr>
            <%}
            }else{%>
            <tr>
              <th>暂时没有BUG报告，很好的系统！值得骄傲的程序猿！</th>
            </tr>
            <%}%>
            </tbody>
              </thead>
            </table>
            <!--BUG列表 end-->

            <hr>


          </div><!-- /.blog-post -->





        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1">
          <div class="sidebar-module sidebar-module-inset">
            <h4>办公设备</h4><button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true">申请维修</span>
          </button>
            <p><img src="../images/pc.png"></p>
          </div>
          <div class="sidebar-module">
            <h4>设备信息：</h4>
            <ol class="list-unstyled">
              <li>设备类型： 笔记本</li>
              <li>品牌及编号： Acer sms2322-mtnd</li>
              <li>CPU: 酷睿i5</li>
              <li>硬盘: 500G</li>
              <li>内存: 8G</li>
              <li>光驱: 无光驱</li>
              <li>操作系统： Windows 10</li>
              <li>浏览器： IE7,Chrome10</li>
              <li>办公软件：office2016</li>
              <li>杀毒软件：金山毒霸</li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer>

    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <script>
    <!--BUG提交-->
    var bug_dcl_num=<%=bug_dcl_num%>;//待处理数量‘0’
    var bug_bh_num=<%=bug_bh_num%>;//驳回数量‘8’
    var bug_clz_num=<%=bug_clz_num%>;//处理中数量‘3’
    var bug_dqr_num=<%=bug_dqr_num%>;//待确认数量‘5’
    var bug_yfp_num=<%=bug_yfp_num%>;//已分配‘2’
    var bug_wj_num=<%=bug_wj_num%>;//完结‘4’
    var bug_data = [
            //
      {
        value: bug_dcl_num,
        color:"#28a4c9"
      },
      {
        value : bug_bh_num,
        color : "#ccc"
      },
      {
        value : bug_clz_num,
        color : "#245580"
      },
      {
        value : bug_dqr_num,
        color : "#c12e2a"
      },
      {
        value : bug_yfp_num,
        color : "#e38d13"
      },{
        value : bug_wj_num,
        color : "#3e8f3e"
      }

    ]
    var defaults = {
      //Boolean - Whether we should show a stroke on each segment
      segmentShowStroke : true,

      //String - The colour of each segment stroke
      segmentStrokeColor : "#fff",

      //Number - The width of each segment stroke
      segmentStrokeWidth : 2,

      //Boolean - Whether we should animate the chart
      animation : true,

      //Number - Amount of animation steps
      animationSteps : 100,

      //String - Animation easing effect
      animationEasing : "easeOutBounce",

      //Boolean - Whether we animate the rotation of the Pie
      animateRotate : true,

      //Boolean - Whether we animate scaling the Pie from the centre
      animateScale : false,

      //Function - Will fire on animation completion.
      onAnimationComplete : null
    }
    var ctx = document.getElementById("myChart").getContext("2d");
    var myNewChart = new Chart(ctx).Pie(bug_data,defaults);
    <!--BUG提交 end-->

  </script>

  </body>
</html>
