<!--导航栏-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <a class="navbar-brand" href="#">欢迎使用 <strong>N.I.U</strong> 系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/work_index">首 页 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">维修申请</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">BUG提交<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/bug/submit?1">体检系统</a></li>
                        <li><a href="/bug/submit?2">CRM系统</a></li>
                        <li><a href="/bug/submit?3">N.I.U 系统</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">其他系统</a></li>
                    </ul>
                </li>
            </ul>
            <!--
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜 索</button>
            </form>
            -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/work_index/mywork">我的工作</a></li>
                <li><a href="/users/getUsersList">人员维护</a></li>

                <li><a href="#">消 息 <span class="badge">4</span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">当前用户:<%=session.rname%><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">设 置</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/users/logout">注 销</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--导航栏 end-->