<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>N.I.U-设备信息编辑页</title>

    <!-- Bootstrap core CSS -->
    <% include ../header.html %>
    <script src="/javascripts/Chart.min.js"></script>
</head>

<body>
<div class="container">
    <!--导航栏-->
    <%include ../nav.html%>
    <!--导航栏 end-->


    <div>
        <h1>编辑个人设备信息</h1>
    </div>

    <div class="row">

        <div class="col-sm-12">

            <div>
                <form class="form-horizontal" method="post" action="/device/set_device_info">
                    <div class="form-group">
                        <label for="devicetype" class="col-sm-2 control-label">设备类型</label>
                        <div class="col-sm-10">
                            <%for(var i=0;i<device_info.device_type.length;i++){%>
                            <label class="radio-inline">
                                <input type="radio" name="devicetype" id="devicetype" value="<%=device_info.device_type[i].id%>" <%if(has_set.length>0){if(has_set[0].device_type==device_info.device_type[i].id){%>checked<%}}%>> <%=device_info.device_type[i].content%>
                            </label>
                            <%}%>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="brand" class="col-sm-2 control-label">品牌</label>
                        <div class="col-sm-5">
                            <select id="brand" name="brand" class="form-control">
                                <option value="0">请选择品牌</option>
                                <%for(var i=0;i<device_info.device_brand.length;i++){%>

                                <option value="<%=device_info.device_brand[i].id%>"  <%if(has_set.length>0){
                                    if(has_set[0].brand==device_info.device_brand[i].id){%>selected<%}}%>><%=device_info.device_brand[i].content%></option>

                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sn" class="col-sm-2 control-label">编号</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="sn" name="sn" placeholder="商品编号" <%if(has_set.length>0){if(has_set[0].sn!=null||has_set[0].sn!=''){%>value="<%=has_set[0].sn%>"<%}}%>>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">处理器CPU</label>
                        <div class="col-sm-5">
                            <select id="cpu_brand" name="cpu_brand" class="form-control">
                                <option value="0">请选择品牌</option>
                                <%for(var i=0;i<device_info.device_cpu_brand.length;i++){%>
                                <option value="<%=device_info.device_cpu_brand[i].id%>" <%if(has_set.length>0){if(has_set[0].cpu_brand==device_info.device_cpu_brand[i].id){%>selected<%}}%>><%=device_info.device_cpu_brand[i].content%></option>
                                <%}%>
                            </select>
                            <select id="cpu_type" name="cpu_type" class="form-control">
                                <option value="0">请选择型号</option>
                                <%if(cpu_type!=0){
                                 for(var i=0;i<cpu_type.length;i++){%>
                                <option value="<%=cpu_type[i].id%>" <%if(cpu_type[i].id==has_set[0].cpu_type){%>selected<%}%>><%=cpu_type[i].content%></option>
                                <%}
                                }%>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hd" class="col-sm-2 control-label">硬盘容量</label>
                        <div class="col-sm-3">
                            <div class="input-group">
                            <input class="form-control" id="hd" name="hd" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" placeholder="硬盘容量" <%if(has_set.length>0){if(has_set[0].harddisk!=null||has_set[0].harddisk!=''){%>value="<%=has_set[0].harddisk%>"<%}}%>>
                            <span class="input-group-addon">GB</span>
                                </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="memory_size" class="col-sm-2 control-label">内存容量</label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input class="form-control" id="memory_size" name="memory_size" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" placeholder="内存容量" <%if(has_set.length>0){if(has_set[0].memory_size!=null||has_set[0].memory_size!=''){%>value="<%=has_set[0].memory_size%>"<%}}%>>
                                <span class="input-group-addon">GB</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cd" class="col-sm-2 control-label">光驱</label>
                        <div class="col-sm-5">
                            <select id="cd" name="cd" class="form-control">
                                <option value="0">请选择</option>
                                <%for(var i=0;i<device_info.device_cd.length;i++){%>
                                <option value="<%=device_info.device_cd[i].id%>" <%if(has_set.length>0){
                                if(has_set[0].cd==device_info.device_cd[i].id){%>selected<%}}%>><%=device_info.device_cd[i].content%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="os" class="col-sm-2 control-label">操作系统</label>
                        <div class="col-sm-5">
                            <select id="os" name="os" class="form-control">
                                <option value="0">请选择</option>
                                <%for(var i=0;i<device_info.device_os.length;i++){%>
                                <option value="<%=device_info.device_os[i].id%>" <%if(has_set.length>0){
                                if(has_set[0].os==device_info.device_os[i].id){%>selected<%}}%>><%=device_info.device_os[i].content%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">浏览器</label>
                        <div class="col-sm-5">
                            <div class="input-group">

                                <%for(var i=0;i<device_info.device_browser.length;i++){%>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="browser" name="browser" value="<%=device_info.device_browser[i].id%>" <%if(has_set.length>0){
                                    var arr_browser=has_set[0].browser.split(',');
                                    for(var x=0;x<arr_browser.length;x++){
                                    if(arr_browser[x]==device_info.device_browser[i].id){%>checked<%}}}%>> <%=device_info.device_browser[i].content%>
                                </label>
                                <%}%>

                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="browser_values" name="browser_values" value="">


                    <div class="form-group">
                        <label for="defense" class="col-sm-2 control-label">杀毒软件</label>
                        <div class="col-sm-5">
                            <select id="defense" name="defense" class="form-control">
                                <option value="0">请选择</option>
                                <%for(var i=0;i<device_info.device_defense.length;i++){%>
                                <option value="<%=device_info.device_defense[i].id%>" <%if(has_set.length>0){
                                if(has_set[0].defense==device_info.device_defense[i].id){%>selected<%}}%>><%=device_info.device_defense[i].content%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>

                    <input type="hidden" id="userid" name="userid" value="<%=userid%>">
                    <input type="hidden" id="isupdate" name="isupdate" value="<%if(has_set.length>0){%>1<%}else{%>0<%}%>">
                    <input type="hidden" id="device_id" name="device_id" value="<%if(has_set.length>0){%><%=has_set[0].id%><%}else{%>0<%}%>">

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-5">
                            <button type="submit" class="btn btn-default" id="bt_device" name="bt_device">提 交</button>
                        </div>
                    </div>
                </form>


            </div><!-- /.blog-post -->





        </div><!-- /.blog-main -->



    </div><!-- /.row -->

</div><!-- /.container -->

<footer>

</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
<script>
    /*提交*/
    $('#bt_device').click(function(){
        //alert('dfdfdfd');
        //alert($('#devicetype:checked').val());
        if($('#devicetype:checked').val()==''||$('#devicetype:checked').val()==null){
            alert('亲～！！设备类型都不选，我怎么给您归类啊！！！');
            return false;
        }else{
            var str='';
            $('#browser:checked').each(function(){
                str+=$(this).val()+","
            });
            var str1=str.substr(0,str.length-1);
            //alert(str1);
            $('#browser_values').val(str1);
            //alert($('#browser_values').val());
            return true;
        }
    });

    /*显示CPU型号*/
    $('#cpu_brand').change(function(){
        $.ajax({
            type:'POST',
            url:'/device/ajax/get_cpu_type',
            data:{'cpu_brand':$(this).val()},
            dataType:'json',
            success:function(data) {
                //location.reload();
                $('#cpu_type').empty();
                $('#cpu_type').append( $("<option>").val(0).text('请选择'));
                for(var i=0;i<data.length;i++){
                    $('#cpu_type').append( $("<option>").val(data[i].id).text(data[i].content));
                }
            }
        })
    });

</script>
</html>
