<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>N.I.U-设备信息编辑页</title>

    <!-- Bootstrap core CSS -->
    <% include ../header.html %>
    <script src="/javascripts/Chart.min.js"></script>
</head>

<body>
<div class="container">
    <!--导航栏-->
    <%include ../nav.html%>
    <!--导航栏 end-->


    <div>
        <h1>编辑个人设备信息</h1>
    </div>

    <div class="row">

        <div class="col-sm-12">

            <div>
                <form class="form-horizontal" method="post" action="/users/set_device_info">
                    <div class="form-group">
                        <label for="devicetype" class="col-sm-2 control-label">设备类型</label>
                        <div class="col-sm-10">
                            <%for(var i=0;i<device_info.device_type.length;i++){%>
                            <label class="radio-inline">
                                <input type="radio" name="devicetype" id="devicetype" value="<%=device_info.device_type[i].id%>"> <%=device_info.device_type[i].content%>
                            </label>
                            <%}%>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="brand" class="col-sm-2 control-label">品牌</label>
                        <div class="col-sm-5">
                            <select id="brand" name="brand" class="form-control">
                                <option value="0">请选择品牌</option>
                                <%for(var i=0;i<device_info.device_brand.length;i++){%>
                                <option value="<%=device_info.device_brand[i].id%>"><%=device_info.device_brand[i].content%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sn" class="col-sm-2 control-label">编号</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="sn" name="sn" placeholder="商品编号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">处理器CPU</label>
                        <div class="col-sm-5">
                            <select id="cpu_brand" name="cpu_brand" class="form-control">
                                <option value="0">请选择品牌</option>
                                <%for(var i=0;i<device_info.device_cpu_brand.length;i++){%>
                                <option value="<%=device_info.device_cpu_brand[i].id%>"><%=device_info.device_cpu_brand[i].content%></option>
                                <%}%>
                            </select>
                            <select id="cpu_type" name="cpu_type" class="form-control">
                                <option value="0">请选择型号</option>
                                <option value="1">酷睿i5</option>
                                <option value="2">酷睿i6</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hd" class="col-sm-2 control-label">硬盘容量</label>
                        <div class="col-sm-3">
                            <div class="input-group">
                            <input class="form-control" id="hd" name="hd" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" placeholder="硬盘容量">
                            <span class="input-group-addon">GB</span>
                                </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="memory_size" class="col-sm-2 control-label">内存容量</label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input class="form-control" id="memory_size" name="memory_size" onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" placeholder="内存容量">
                                <span class="input-group-addon">GB</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cd" class="col-sm-2 control-label">光驱</label>
                        <div class="col-sm-5">
                            <select id="cd" name="cd" class="form-control">
                                <option value="0">请选择</option>
                                <%for(var i=0;i<device_info.device_cd.length;i++){%>
                                <option value="<%=device_info.device_cd[i].id%>"><%=device_info.device_cd[i].content%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="os" class="col-sm-2 control-label">操作系统</label>
                        <div class="col-sm-5">
                            <select id="os" name="os" class="form-control">
                                <option value="0">请选择</option>
                                <%for(var i=0;i<device_info.device_os.length;i++){%>
                                <option value="<%=device_info.device_os[i].id%>"><%=device_info.device_os[i].content%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">浏览器</label>
                        <div class="col-sm-5">
                            <div class="input-group">

                                <%for(var i=0;i<device_info.device_browser.length;i++){%>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="browser" name="browser" value="<%=device_info.device_browser[i].id%>"> <%=device_info.device_browser[i].content%>
                                </label>
                                <%}%>

                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <label for="office" class="col-sm-2 control-label">办公软件</label>
                        <div class="col-sm-5">
                            <select id="office" name="office" class="form-control">
                                <option value="0">请选择</option>
                                <option value="1">office97</option>
                                <option value="2">office2000</option>
                                <option value="3">office2010</option>
                                <option value="4">office2013</option>
                                <option value="4">office2016</option>
                            </select>
                        </div>
                    </div>-->

                    <div class="form-group">
                        <label for="defense" class="col-sm-2 control-label">杀毒软件</label>
                        <div class="col-sm-5">
                            <select id="defense" name="defense" class="form-control">
                                <option value="0">请选择</option>
                                <%for(var i=0;i<device_info.device_defense.length;i++){%>
                                <option value="<%=device_info.device_defense[i].id%>"><%=device_info.device_defense[i].content%></option>
                                <%}%>
                            </select>
                        </div>
                    </div>

                    <input type="hidden" id="userid" name="userid" value="1">

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-5">
                            <button type="submit" class="btn btn-default" id="bt_device" name="bt_device">提 交</button>
                        </div>
                    </div>
                </form>


            </div><!-- /.blog-post -->





        </div><!-- /.blog-main -->



    </div><!-- /.row -->

</div><!-- /.container -->

<footer>

</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
<script>
    $('#bt_device').click(function(){
        //alert('dfdfdfd');
        //alert($('#devicetype:checked').val());
        if($('#devicetype:checked').val()==''||$('#devicetype:checked').val()==null){
            alert('亲～！！设备类型都不选，我怎么给您归类啊！！！');
            return false;
        }else{
            var str='';
            $('#browser:checked').each(function(){
                str+=$(this).val()+","
            });
            alert(str);
            return false;
        }
    });

</script>
</html>
