<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <% include ../header.html %>
    <title></title>
</head>
<body>
<div class="container-fluid">
    <div class="row" style="height: 150px">

    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <blockquote>
                <p>欢迎进入N.I.U系统</p>
                <footer>New Information Unity by Node.js</footer>
            </blockquote>

            <div class="bg-info">
                <br>
                <br>
                <div class="alert alert-warning alert-dismissible" role="alert" <%if(data==0){%> style="display: none"<%}%>>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>登录错误！</strong> 用户名或密码不正确。好好想想哦！
                </div>

                <div class="center-block">
                    <form id="login" method="post" action="/users/login" class="form-horizontal" style="margin-left: 185px">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="username" name="username" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-5">
                                <input type="password" class="form-control" id="pw" name="pw">
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-5">
                                <button type="button" class="btn btn-default" id="bt_login">登录</button>
                                <button type="button" class="btn btn-default" onclick="window.location.href = '/users/reg'" style="margin-left: 20px">注册</button>
                            </div>
                        </div>

                    </form>
                </div>
                <br>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
</body>
<script>
    $(document).ready(function(){
        $('#bt_login').click(function(){
            var un=$('#username');
            var pw=$('#pw');
            if(un.val()==''||un.val()==null){
                return false;
            }
            if(pw.val()==''|pw.val()==null){
                return false;
            }
            $('#login').submit();
        });
    });
</script>
</html>