<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>我的工作——N.I.U</title>

    <!-- Bootstrap core CSS -->
    <% include ../header.html %>
</head>

<body>
<div class="container">
    <!--导航栏-->
    <%include ../nav.html%>
    <!--导航栏 end-->


    <div>
        <h1>您正在查看需要处理的工作</h1>
        <p>请及时处理提交的工作</p>
    </div>

    <div class="row">

        <div class="col-sm-12">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>系统名称</th>
                    <th>部门</th>
                    <th>模块</th>
                    <th>相关BUG报告</th>
                    <th>提交时间</th>
                    <th>处理状态</th>
                </tr>
                </thead>
                <tbody>
                  <% if(results.length>0){
                     for(var i=0;results.length>i;i++){%>
                  <tr>
                      <th scope="row"><%=i+1%></th>
                      <th><%=results[i].sys_name%></th>
                      <th><%=results[i].sys_dep%></th>
                      <th><%=results[i].sys_model%></th>
                      <th><%=results[i].bug_title%></th>
                      <th><%=results[i].submit_time%></th>
                      <th>
                          <%switch(results[i].statue){
                          case 0:%>
                          <a href="/bug/bug_detail?<%=results[i].bug_id%>" class="btn btn-info">未处理</a>
                          <%break;
                          case 2:%>
                          <a href="/bug/bug_detail?<%=results[i].bug_id%>" class="btn btn-warning">已分派</a>
                          <%break;
                          case 3:%>
                          <a href="/bug/bug_detail?<%=results[i].bug_id%>" class="btn btn-primary">处理中</a>
                          <%break;
                          case 4:%>
                          <a href="/bug/bug_detail?<%=results[i].bug_id%>" class="btn btn-success">已完结</a>
                          <%break;
                          case 5:%>
                          <a href="/bug/bug_detail?<%=results[i].bug_id%>" class="btn btn-danger">待确认</a>
                          <%break;
                          case 8:%>
                          <a href="/bug/bug_detail?<%=results[i].bug_id%>" class="btn btn-default">驳  &nbsp;&nbsp;&nbsp; 回</a>
                          <%break;
                          }%>

                      </th>

                  </tr>
                  <%}
                  }else{%>
                  <tr>
                      <th>暂时没有BUG报告，很好的系统！值得骄傲的程序猿！</th>
                  </tr>
                  <%}%>

                </tbody>
            </table>

            <!--维护工作-->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>区域</th>
                    <th>部门</th>
                    <th>申请</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>
                <% if(repair.length>0){
                for(var i=0;repair.length>i;i++){%>
                <tr>
                    <th scope="row"><%=i+1%></th>
                    <th><%=repair[i].submit_user_local%></th>
                    <th><%=repair[i].submit_user_dep%></th>
                    <th><%=repair[i].title%></th>
                    <th><%=repair[i].submit_time%></th>
                    <th>
                        <%switch(repair[i].processing_statue){
                        case 0:%>
                        <a href="/device/repair_detail?<%=repair[i].id%>" class="btn btn-info">未处理</a>
                        <%break;
                        case 2:%>
                        <a href="/device/repair_detail?<%=repair[i].id%>" class="btn btn-warning">已分派</a>
                        <%break;
                        case 3:%>
                        <a href="/device/repair_detail?<%=repair[i].id%>" class="btn btn-primary">处理中</a>
                        <%break;
                        case 4:%>
                        <a href="/device/repair_detail?<%=repair[i].id%>" class="btn btn-success">已完结</a>
                        <%break;
                        case 5:%>
                        <a href="/device/repair_detail?<%=repair[i].id%>" class="btn btn-danger">待确认</a>
                        <%break;
                        case 8:%>
                        <a href="/device/repair_detail?<%=repair[i].id%>" class="btn btn-default">驳  &nbsp;&nbsp;&nbsp; 回</a>
                        <%break;
                        }%>

                    </th>

                </tr>
                <%}
                }else{%>
                <tr>
                    <th>暂时没有维护申请，很不错哦，可以晒晒太阳！</th>
                </tr>
                <%}%>

                </tbody>
            </table>
            <!--维护工作 end-->


            <!--数据工作-->
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>区域</th>
                    <th>部门</th>
                    <th>申请</th>
                    <th>状态</th>
                </tr>
                </thead>
                <tbody>
                <% if(data_repair.length>0){
                for(var i=0;data_repair.length>i;i++){%>
                <tr>
                    <th scope="row"><%=i+1%></th>
                    <th><%=data_repair[i].submit_user_local%></th>
                    <th><%=data_repair[i].submit_user_dep%></th>
                    <th><%=data_repair[i].title%></th>
                    <th><%=data_repair[i].submit_time%></th>
                    <th>
                        <%switch(data_repair[i].processing_statue){
                        case 0:%>
                        <a href="/data_repair/repair_detail?<%=data_repair[i].id%>" class="btn btn-info">未处理</a>
                        <%break;
                        case 2:%>
                        <a href="/data_repair/repair_detail?<%=data_repair[i].id%>" class="btn btn-warning">已分派</a>
                        <%break;
                        case 3:%>
                        <a href="/data_repair/repair_detail?<%=data_repair[i].id%>" class="btn btn-primary">处理中</a>
                        <%break;
                        case 4:%>
                        <a href="/data_repair/repair_detail?<%=data_repair[i].id%>" class="btn btn-success">已完结</a>
                        <%break;
                        case 5:%>
                        <a href="/date_repair/repair_detail?<%=data_repair[i].id%>" class="btn btn-danger">待确认</a>
                        <%break;
                        case 8:%>
                        <a href="/data_repair/repair_detail?<%=data_repair[i].id%>" class="btn btn-default">驳  &nbsp;&nbsp;&nbsp; 回</a>
                        <%break;
                        }%>

                    </th>

                </tr>
                <%}
                }else{%>
                <tr>
                    <th>暂时没有维护申请，很不错哦，可以晒晒太阳！</th>
                </tr>
                <%}%>

                </tbody>
            </table>
            <!--数据工作 end-->

        </div>




    </div><!-- /.row -->

</div><!-- /.container -->

<footer>

</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->




</body>
</html>
